<div class="mt-5 mb-1 py-5 serie-list">
    <div class="container">

        <div class="row">
            <div class="col-md-6" *ngFor="let serie of allSeries | async">
                
                <app-serie [serie]="serie"></app-serie>

            </div>
            
        </div>
    </div>
</div>