<div class="card mb-4 shadow-sm">
    <div class="header-card d-flex align-content-center">
        <img src="{{ serie.thumbnail.path }}.{{ serie.thumbnail.extension }}" alt="{{ serie.name }}" title="{{ serie.title }}">
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ serie.title }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                
                <a href="{{ links.url }}" *ngFor="let links of serie.urls" target="_blank" class="btn btn-xs btn-outline-dark">{{ links.type }}</a>

            </div>
        </div>
    </div>
</div>