.shadow-sm {
    .header-card {
      overflow: hidden;
      max-height: 300px;
      text-align: center;
      background-color: #000;
    }
    img {
      //   width: 100%;
      object-fit: cover;
      width: 100%;
      height: 337px;
      transition: ease-in-out 300ms;
      opacity: 0.2;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }

    a{
      text-transform: capitalize;
    }

    .card-text{
        min-height: 48px;
    }
  }