<div class="card mb-4 shadow-sm">
    <div class="header-card d-flex align-content-center">
        <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="{{ character.name }}" title="{{ character.name }}">
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ character.name }}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                
                <a href="{{ links.url }}" *ngFor="let links of character.urls" target="_blank" class="btn btn-xs btn-outline-dark">{{ links.type }}</a>

            </div>
        </div>
    </div>
</div>