<div class="mt-5 mb-1 py-5 characters-list">
    <div class="container">

        <div class="row">
            <div class="col-md-6" *ngFor="let character of allCharacters | async">
                
                <app-character [character]="character"></app-character>

            </div>
            
        </div>
    </div>
</div>