/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.mv-load:after {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-left: 6px solid #43425d;
    border-top: 6px solid#43425d;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50% 50% 50% 50%;
    z-index: 999999999;
    -webkit-animation-name: spin;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: .7s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mv-load:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    top: 0px;
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}